
.contact  {
    display: flex;
    text-align: center;
    padding-top: 20px;
    .col-md-4 {
        box-shadow: 5px 5px 5px 5px darkgrey;
        padding: 20px 0 20px 0;
    }

    #contact {
        border: 1px solid black;
        border-radius: 20px;
        padding: 10px;
        background: #7bd4eaae;
        color: black;
    }
}